---
import Layout from "../layouts/main.astro";
import { user } from "../scripts/const";
import Socials from "../components/socials.astro";
---

<Layout
  title={user}
  class="font-mono h-svh w-svw flex flex-col items-center justify-center"
>
  <header></header>
  <main></main>
  <footer>
    <Socials />
  </footer>
</Layout>
