---
import Layout from "../layouts/main.astro";
import { user } from "../scripts/const";
import Bar from "../components/bar.astro";
import Pinned from "../components/pinned.astro";
import Readme from "../components/readme.astro";
import Socials from "../components/socials.astro";
import { octokit } from "../scripts/octokit";
const data = await octokit.graphql(
  `{
    user(login:"${user}") {
      name
    }
  }`
);
const pinned = await octokit.graphql(
  `{
    user(login:"${user}") {
      pinnedItems(first:6) {
        edges {
          node {
            ... on Repository {}
          }
        }
      }
    }
  }`
);
let readme;
try {
  readme = await octokit.rest.repos.getReadme({
    owner: user,
    repo: user,
  });
} catch {}
---

<Layout
  title={data?.user?.name ? data?.user?.name : user}
  class="font-mono font-light text-[1em] p-[3em] min-h-svh min-w-svw flex flex-col gap-[3em] items-start justify-center"
>
  <header>
    <Bar />
  </header>
  <main class="size-full flex-auto flex flex-wrap-reverse gap-[3em]">
    {
      pinned?.user?.pinnedItems?.edges?.length !== 0 && (
        <section class="flex items-end">
          <section class="sticky bottom-[3em]">
            <Pinned />
          </section>
        </section>
      )
    }
    {
      readme && (
        <section class="flex-auto max-w-full">
          <Readme />
        </section>
      )
    }
  </main>
  <footer>
    <Socials />
  </footer>
</Layout>
