---
import Layout from "../layouts/main.astro";
import { user } from "../scripts/const";
import Pinned from "../components/pinned.astro";
import Socials from "../components/socials.astro";
---

<Layout
  title={user}
  class="font-mono min-h-svh min-w-svw flex flex-col items-center justify-center"
>
  <header></header>
  <main>
    <Pinned />
  </main>
  <footer>
    <Socials />
  </footer>
</Layout>
